.login {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  &__lock-icon {
    margin-bottom: 30px;
    height: 70px;
  }
  &__email.overwrite,
  &__password.overwrite {
    margin-bottom: 8px;
  }
  &__actions {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
