.login {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  margin-top: 80px;
  &__actions {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
