@import '~styles/colors';

.welcome {
  &__header {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__avatar.overwrite {
    margin: 30px;
    width: 70px;
    height: 70px;
  }
  &__title {
    color: $black;
    text-align: center;
    line-height: 1.5em;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__message {
    margin: 0;
    text-align: center;
    color: $gray;
  }
  &__actions {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
