@import '~styles/colors';

.welcome {
  margin-top: 20px;
  &__header {
    padding: 60px 0;
  }
  &__title {
    color: $black;
    text-align: center;
    margin-bottom: 0;
  }
  &__message {
    margin: 0;
    text-align: center;
    color: $gray;
  }
  &__actions {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
